.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
}

.turn-player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}

.countDown-button-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: auto auto;
}

.countDown-number {
  text-align: center;
}
