@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap");

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 25px;
}

body {
  font-family: "Baloo Tammudu 2", cursive;
  margin: 0px 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.success {
  color: #4d854a;
}

.error {
  color: #ff1b16;
}
